<div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Period Retrieval Method</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-radio-group ng-model="currentPlantReportSettings.periodMethod" required name="periodMethod">
            <div layout="row">
                <md-input-container>
                    <md-radio-button value="interval" name="periodMethod" class="md-primary" ng-click="focusNextInput('interval-minutes-input')">Interval Time (mins)</md-radio-button>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>minutes</label>
                    <input ng-disabled="!(currentPlantReportSettings.periodMethod==='interval')" ng-model="currentPlantReportSettings.intervalMinutes"
                        id="interval-minutes-input" type="number" ng-step="1" ng-min="0" string-to-number ng-required="currentPlantReportSettings.periodMethod==='interval'">
                </md-input-container>
            </div>
            <div layout="row" layout-wrap>
                <!-- Event tag -->
                <!-- <md-tooltip md-direction="top">
                    Event tag feature not enabled yet
                </md-tooltip> -->
                <div flex="50" flex-gt-md="25">
                    <md-input-container>
                        <md-radio-button value="eventTag" name="periodMethod" ng-disabled="false" ng-click="focusNextInput('event-tag-select')">
                            Event Tag </md-radio-button>
                        <div class="md-input-message-animation" style="opacity:1;margin-top: -10px;" ng-show="piToolsForm.periodMethod.$error.required">
                            You must select a period setting
                        </div>
                    </md-input-container>
                </div>
                <div flex="50" flex-gt-md="25">
                    <md-input-container>
                        <md-radio-group ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag')" ng-model="currentPlantReportSettings.eventagPeriodType"
                            name="eventagPeriodType" ng-required="currentPlantReportSettings.periodMethod==='eventTag'">
                            <md-radio-button value="specifiedValue" ng-click="focusNextInput('event-tag-select')">Specified Value: </md-radio-button>
                            <md-radio-button value="anyValueChange">Any value change</md-radio-button>
                        </md-radio-group>
                        <div ng-messages="piToolsForm.eventagPeriodType.$error" ng-show="piToolsForm.$submitted">
                            <div ng-message="required">
                                You must choose how periods are started for event tags
                            </div>
                            <div ng-messages-include="form-error-messages"></div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="50" flex-gt-md="25">
                    <md-input-container>
                        <label>Select Event Tag to Find Periods</label>
                        <md-select id="event-tag-select" name="eventTag" ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag')" ng-model="currentPlantReportSettings.eventTag"
                            ng-change="eventTagSelected()" ng-model-options="{trackBy: '$value.Name'}" ng-required="currentPlantReportSettings.periodMethod==='eventTag'">
                            <md-option ng-if="!data.availableTagWriterTags.length">
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="tag in data.availableTagWriterTags | filter:(currentPlantReportSettings.eventagPeriodType === 'specifiedValue'?{DataType:'digital'}:'') | orderBy:'Name'"
                                ng-value="tag">{{tag.Name}}</md-option>
                        </md-select>
                        <div ng-messages="piToolsForm.eventTag.$error">
                            <div ng-message="required">
                                You must select an event tag, or select' Interval Time'
                            </div>
                            <div ng-messages-include="form-error-messages"></div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="50" flex-gt-md="25">
                    <md-input-container ng-show="currentPlantReportSettings.eventagPeriodType ==='specifiedValue'">
                        <label>Select Event Tag Trigger Value</label>
                        <md-select ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag' && currentPlantReportSettings.eventagPeriodType ==='specifiedValue')"
                            ng-model="currentPlantReportSettings.eventTagTriggerValue" name="eventTagTriggerValue" ng-model-options="{trackBy: '$value.Name'}"
                            id="event-tag-trigger-value-select" ng-required="currentPlantReportSettings.eventagPeriodType ==='specifiedValue'">
                            <md-option ng-if="!data.availableTagWriterTags.length">
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="digitalValue in currentPlantReportSettings.eventTag.digitalSetValues" ng-value="digitalValue">{{digitalValue.Name}}</md-option>
                        </md-select>
                        <div ng-messages="piToolsForm.eventTagTriggerValue.$error">
                            <div ng-message="required">
                                You must select an event tag trigger value, or choose 'Any Value Change'
                            </div>
                            <div ng-messages-include="form-error-messages"></div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-radio-group>
        <div layout="row" id="date-pickers">
            <div flex="50">
                Start Date/Time
                <br>
                <md-input-container>
                    <label>Start Date</label>
                    <md-tooltip md-direction="top">
                        Start date must be before end date
                    </md-tooltip>
                    <md-datepicker ng-model="currentPlantReportSettings.startDatePicker" name="startDate" string-to-date md-open-on-focus required md-max-date="currentPlantReportSettings.endDate"></md-datepicker>
                    <div ng-messages="piToolsForm.startDate.$error">
                        <div ng-message="mdMaxDate">The start date must be before the end date </div>
                        <div ng-messages-include="form-error-messages"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Time</label>
                    <input ng-model="currentPlantReportSettings.startDateTime" string-to-date name="startDateTime" type="time" required>
                    <div ng-messages="piToolsForm.startDateTime.$error">
                        <div ng-messages-include="form-error-messages"></div>
                    </div>
                </md-input-container>
                <md-input-container class="date-error-message">
                    <input ng-hide="true" type="hiden" name="dateCheck" ng-model="decoy2" arial-label="ignore" arial-hidden valid-date>
                    <div ng-messages="piToolsForm.dateCheck.$error" class="date-error-message">
                        <div ng-message="validDate">
                            You must enter a valid start time that is before the end time
                        </div>
                        <div ng-messages-include="form-error-messages"></div>
                    </div>
                </md-input-container>
            </div>
            <div flex="50">
                End Date/Time
                <br>

                <md-input-container>
                    <label>End Date</label>
                    <md-tooltip md-direction="top">
                        End date must be after start date and before the current time
                    </md-tooltip>
                    <md-datepicker ng-model="currentPlantReportSettings.endDatePicker" string-to-date name="endDate" md-open-on-focus required md-min-date="currentPlantReportSettings.startDate" md-max-date="now"></md-datepicker>
                    <div ng-messages="piToolsForm.endDate.$error">
                        <div ng-message="mdMaxDate">The end date must be before the current time</div>
                        <div ng-message="mdMinDate">The end date must be after the start date</div>
                        <div ng-messages-include="form-error-messages"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>End Time</label>
                    <input ng-model="currentPlantReportSettings.endDateTime" string-to-date type="time" name="endDateTime" required >
                    <div ng-messages="piToolsForm.endDateTime.$error">
                        <div ng-messages-include="form-error-messages"></div>
                    </div>
                </md-input-container>

                <md-button class="md-raised" ng-click="setEndDateToNow()" required>Now</md-button>
            </div>
        </div>
    </md-card-content>
</div>