<div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Period Retrieval Method</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-radio-group ng-model="currentPlantReportSettings.periodMethod" required>
            <div layout="row">
                <md-input-container>
                    <md-radio-button value="interval" class="md-primary" ng-selected="true" ng-click="focusNextInput('interval-minutes-input')">Interval Time (mins)</md-radio-button>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>minutes</label>
                    <input ng-disabled="!(currentPlantReportSettings.periodMethod==='interval')" ng-model="currentPlantReportSettings.intervalMinutes"
                        id="interval-minutes-input" type="number" ng-step="1" ng-min="0" string-to-number ng-required="currentPlantReportSettings.periodMethod==='interval'">
                </md-input-container>
            </div>
            <div layout="row" layout-wrap>
                <!-- Event tag -->
                <!-- <md-tooltip md-direction="top">
                    Event tag feature not enabled yet
                </md-tooltip> -->
                <div flex="50" flex-gt-md="25" >
                    <md-radio-button value="eventTag" ng-disabled="false" ng-click="focusNextInput('event-tag-select')"> Event Tag </md-radio-button>
                </div>
                <div flex="50" flex-gt-md="25" >
                    <md-radio-group ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag')" ng-model="currentPlantReportSettings.eventagPeriodType" ng-required="currentPlantReportSettings.periodMethod==='eventTag'">
                        <md-radio-button value="specifiedValue" ng-selected="true"
                            ng-click="focusNextInput('event-tag-select')">Specified Value: </md-radio-button>
                        <md-radio-button value="anyValueChange" >
                            <!-- <md-tooltip md-direction="top">
                                Event tag feature not enabled yet
                            </md-tooltip> -->
                            Any value change</md-radio-button>
                    </md-radio-group>
                </div>
                <div flex="50" flex-gt-md="25" >
                    <md-input-container>
                        <label>Select Event Tag to Find Periods</label>
                        <md-select id="event-tag-select" ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag')" ng-model="currentPlantReportSettings.eventTag"
                            ng-change="eventTagSelected()" ng-model-options="{trackBy: '$value.Name'}" ng-required="currentPlantReportSettings.periodMethod==='eventTag'">
                            <md-option ng-if="!data.availableTagWriterTags.length">
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="tag in data.availableTagWriterTags | filter:(currentPlantReportSettings.eventagPeriodType === 'specifiedValue'?{DataType:'digital'}:'') | orderBy:'Name'" ng-value="tag">{{tag.Name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="50" flex-gt-md="25" >
                    <md-input-container ng-show="currentPlantReportSettings.eventagPeriodType ==='specifiedValue'">
                        <label>Select Event Tag Trigger Value</label>
                        <md-select ng-disabled="!(currentPlantReportSettings.periodMethod==='eventTag' && currentPlantReportSettings.eventagPeriodType ==='specifiedValue')"
                            ng-model="currentPlantReportSettings.eventTagTriggerValue" ng-model-options="{trackBy: '$value.Name'}"
                            id="event-tag-trigger-value-select" ng-required="currentPlantReportSettings.eventagPeriodType ==='specifiedValue'">
                            <md-option ng-if="!data.availableTagWriterTags.length">
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="digitalValue in currentPlantReportSettings.eventTag.digitalSetValues" ng-value="digitalValue">{{digitalValue.Name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-radio-button ng-disabled="true" value="GC Reports">GC Reports (??)</md-radio-button> -->
            </div>
        </md-radio-group>
        <div layout="row">
            <div flex="50">
                Start Date/Time
                <br>
                <md-input-container>
                    <label>Start Date</label>
                    <md-datepicker ng-model="currentPlantReportSettings.startDate" string-to-date md-open-on-focus required></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>Time</label>
                    <input ng-model="currentPlantReportSettings.startDate" string-to-date type="time" required>
                </md-input-container>
            </div>
            <div flex="50">
                End Date/Time
                <br>

                <md-input-container>
                    <label>End Date</label>
                    <md-datepicker ng-model="currentPlantReportSettings.endDate" string-to-date md-open-on-focus required></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>End Time</label>
                    <input ng-model="currentPlantReportSettings.endDate" string-to-date type="time" required>
                </md-input-container>
                <md-button class="md-raised" ng-click="setEndDateToNow()" required>Now</md-button>
            </div>
        </div>
    </md-card-content>
</div>