<div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">Select Plant Tags for Report</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Search Among Tags</label>
            <input ng-model="selectTagsFiltertext">
            <!-- <div ng-messages="piToolsForm.tagFilter.$error">
                <div ng-message="tagsSelected">
                    You must select at least one tag to add to the report
                </div>
                <div ng-messages-include="form-error-messages"></div>
            </div> -->
        </md-input-container>
        <!-- <div class="md-error-copy" ng-show="piToolsForm.tagFilter.$error.tagsSelected">
            You must select at least one tag to add to the report
        </div> -->
        <md-input-container>
            <input ng-hide="true" type="hiden" name="tagFilter" ng-model="decoy" aria-hidden arial-label="ignore"  tags-selected>
            <div ng-messages="piToolsForm.tagFilter.$error">
                <div ng-message="tagsSelected">
                    You must select at least one tag to add to the report
                </div>
                <div ng-messages-include="form-error-messages"></div>
            </div>
        </md-input-container>

        <div layout="row">
            <div flex-xs flex-gt-xs="50">
                Tags available ({{virtualTagsList.getLength()}})
                <md-button class="md-raised" ng-class="{'md-warn':piToolsForm.tagFilter.$error.tagsSelected}" ng-click="selectAllTags()">Select all {{(selectTagsFiltertext != null && selectTagsFiltertext !== '')?'filtered ':''}}tags
                    <md-icon aria-label="select" class="material-icons">chevron_right</md-icon>
                </md-button>
            </div>
            <div flex-xs flex-gt-xs="50">
                Tags selected ({{currentPlantReportSettings.selectedTags.length}})
                <md-button ng-show="currentPlantReportSettings.selectedTags.length" class="md-raised" ng-click="removeAllTags()">Remove all selected tags
                    <md-icon aria-label="remove" class="material-icons">chevron_left</md-icon>
                </md-button>
            </div>
        </div>

        <div layout="row">
            <!-- Available Tags -->
            <div flex-xs flex-gt-xs="50">
                <md-virtual-repeat-container id="tags-virtual-list" style="height:500px;" md-auto-shrink="true">
                    <md-list>
                        <md-list-item md-virtual-repeat="tag in virtualTagsList" md-on-demand ng-click="selectTag(tag)">
                            <p> {{ tag.Name }} </p>
                            <md-icon aria-label="select" class="material-icons md-secondary">chevron_right</md-icon>
                            <md-tooltip md-direction="botom">
                                Click to add this tag only
                            </md-tooltip>
                        </md-list-item>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
            <!-- Selected tags -->
            <div flex-xs flex-gt-xs="50">
                <md-virtual-repeat-container id="tags-virtual-selected-list" style="height:500px;" md-auto-shrink="true">
                    <md-list>
                        <md-list-item md-virtual-repeat="tag in virtualSelectedTagsList" md-on-demand ng-click="removeSelectedTag(tag)">
                            <p> {{ tag.Name }} </p>
                            <md-icon aria-label="remove" class="material-icons md-secondary">chevron_left</md-icon>
                            <md-tooltip md-direction="botom">
                                Click to remove this tag only
                            </md-tooltip>
                        </md-list-item>
                    </md-list>
                </md-virtual-repeat-container>
            </div>
        </div>


        <md-button class="md-raised" ng-click="savePreferences()">Save Settings
            <md-icon aria-label="save" class="material-icons">save</md-icon>
        </md-button>
    </md-card-content>
</div>