<md-card>
    <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">PI Tag Select</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        something clever here. maybe checkboxes?
        <md-input-container>
            <label>Filter Tags</label>
            <input ng-model="selectTagsFiltertext">
        </md-input-container>
        <div layout="row">
            <div flex-xs flex-gt-xs="50">
                Tags available
                <md-checkbox ng-model="selectAllTags">Select All?</md-checkbox>
            </div>
            <div flex-xs flex-gt-xs="50">
                Tags selected ({{currentPlantReportSettings.selectedTags | keyLength}})
            </div>
        </div>
        <md-virtual-repeat-container id="tags-virtual-list" style="height:500px;">
            <md-list>
                <md-list-item md-virtual-repeat="tag in data.tags | filter:{Name:selectTagsFiltertext}" >
                    <md-checkbox class="" ng-checked="selectAllTags" ng-model="tag.selected"></md-checkbox>
                    <p> {{ tag.Name }} </p>
                </md-list-item>
            </md-list>
            <!-- <div md-virtual-repeat="tag in virtualTagsList" md-on-demand="true" md-item-size="20">
                <p> {{ tag.Name }} </p>
            </div> -->
        </md-virtual-repeat-container>
    </md-card-content>
</md-card>