<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="appController as ctrlr">

<head>
	<title ng-bind="'STCA PI Tools Reports & TagWriter- Web'">STCA PI Tools Reports - Web</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
	<link rel="apple-touch-icon" href="../images/icons/apple-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
	<!-- <link href="./styles/roboto.css" rel="stylesheet"> -->
	<!-- <link href="./styles/materialicons.css" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="./scripts/vendor/angular_material/1.1.4/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/styles.css" />

</head>

<body >
	<md-toolbar layout="row" class="md-toolbar-tools" ng-cloak layout-align="space-between center">
		<h1>STCA PI Tools Reports-Web</h1>
		<div>
			<md-progress-circular ng-show="!data.plants.length || isUpdating" class="md-warn" md-mode="indeterminate"></md-progress-circular>
		</div>
		<md-button class="md-raised" ng-click="savePreferences()">Save Settings
			<md-icon aria-label="save" class="material-icons">save</md-icon>
		</md-button>
		<md-button class="md-raised " ng-disabled="isUpdating" href="mailto:pt-stca-pi-support@shell.com;Business-Assist-Engineering-ITV-TEE@shell.com&subject=PI Tools Web App">
			Need Support
			<md-icon aria-label="help" class="material-icons">help_outline</md-icon>
			<md-tooltip md-direction="botom">
				Email the support team
			</md-tooltip>
		</md-button>
		<md-button class="menu md-icon-button" hide-gt-md ng-click="toggleLeft()" aria-label="Show Nav">
			<md-icon aria-label="settings" class="material-icons">settings</md-icon>
		</md-button>
	</md-toolbar>

	<div flex layout="row" ng-cloak>
		<div ng-show="errors.length" class="md-warn">
			<div ng-repeat="error in errors">
				<div ng-repeat="(errname, errmsg) in error">
					<strong>{{errname}}</strong>: {{errmsg}}
					<!-- <ul>
						<li ng-repeat="(errmsgname, errmsgdetail) in errmsg">{{errmsgname+':'+errmsgdetail}}</li>
					</ul> -->
				</div>
			</div>
			<button type="button" class="close" ng-click="clearErrors()" aria-label="Close">
					<md-icon aria-label="close" class="material-icons">close</md-icon>
					Close and Clear Errors
			</button>
		</div>
		<div layout="column" flex>
			<div >
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Select a Plant</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content >
						<!-- Plant search auto complete -->
						<form ng-submit="$event.preventDefault()" layout layout-align="center" layout-padding>
							<div layout="row" flex>
								<md-autocomplete flex ng-disabled="!data.plants.length" md-selected-item="data.selectedPlant.both" md-selected-item-change="getPlantData()"
								 md-clear-button="true" class="md-block" md-search-text="preferences.plantSearchText" md-items="plant in data.plants | filter:{Name:preferences.plantSearchText}"
								 md-autoselect="true" md-select-on-focus md-auto-focus="true" md-select-on-match="true" md-item-text="plant.Name.replace('Plant ID ','')"
								 md-floating-label="{{data.plants.length?'Search for a plant':'Loading Plants...'}}" md-min-length="0" md-input-id="search-input-plants">
									<md-item-template>
										<span md-highlight-text="preferences.plantSearchText" md-highlight-flags="i">{{plant.Name.replace('Plant ID ','')}}</span>
									</md-item-template>
									<md-not-found>
										No plants found "{{preferences.plantSearchText}}"
									</md-not-found>
								</md-autocomplete>
								<div>
									<md-button class="md-raised" ng-click="getPlantData()">
										Search /
										<md-icon aria-label="refresh" class="material-icons">autorenew</md-icon>
									</md-button>
								</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</div>
			<div layout="column">
				<div flex="100" layout="column" ng-if="data.selectedPlant.both == null">
					<md-card>
						<!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">No Plant Selected</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							Please select a plant ID from the above plant search

						</md-card-content>
					</md-card>
				</div>
				<div ng-show="!(data.selectedPlant.both == null)" layout="column">
					<div flex="100" layout="column">
						<tag-writer-card></tag-writer-card>
					</div>
					<div flex="100" layout="column">
						<md-card>
							<experiment-and-period-numbers-card></experiment-and-period-numbers-card>
							<point-retrieval-method-card></point-retrieval-method-card>
							<!-- <report-settings-card></report-settings-card> -->
							<tag-select-card></tag-select-card>

							<!-- Generate Reports section -->
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">Generate Reports</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-content>
								Ready to generate {{reportGeneration.periodsCount?reportGeneration.periodsCount+' ':''}}reports based on your settings?

								<md-button class="md-raised md-accent" ng-click="generateReports()">Get Report files
								</md-button>
								<br> Reports:
								<br>

								<md-button ng-repeat="(reportNumber, value) in reportGeneration.generatedReports track by $index" class="md-raised "
								 ng-click="openReport(reportNumber)">Download report {{value.periodNumber}}
									<md-icon aria-label="download" class="material-icons">file_download</md-icon>
								</md-button>

							</md-card-content>
						</md-card>
					</div>

					<div flex-xs flex-gt-xs="100" layout="column">
						<md-card>
							<!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->

						</md-card>
					</div>
				</div>
			</div>
		</div>
		<md-sidenav class="md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="right" ng-click="">
			<md-content class="md-padding">
				<md-list>
					<h3 class="md-title">Preferences</h3>
					<!-- 
					<md-list-item>

					</md-list-item> -->
					<div layout="row" layout-align="center center">
						<md-button class="md-raised md-accent" ng-click="savePreferences()">Save Settings
							<md-icon aria-label="save" class="material-icons">save</md-icon>
						</md-button>
					</div>

					<div layout="row" layout-align="center center">
						<md-button class="md-raised " ng-click="deletePlantPrefernces()">Delete Plant Settings
							<md-icon aria-label="delete" class="material-icons">delete</md-icon>
							<md-tooltip md-direction="botom">
								This deletes the saved settings you have for the currently selected plant
							</md-tooltip>
						</md-button>
					</div>
					<div layout="row" layout-align="center center">
						<md-button class="md-raised " ng-click="deleteAllPreferences()">Delete All Settings
							<md-icon aria-label="delete" class="material-icons">delete_forever</md-icon>
							<md-tooltip md-direction="botom">
								This deletes all the saved settings you have and does a refresh (troubleshooting)
							</md-tooltip>
						</md-button>
					</div>
					<md-divider></md-divider>
					<div layout="row" layout-align="center center">
						<md-button class="" ng-disabled="" target="_blank" href="https://muntse-s-08817.europe.shell.com/piwebapi/help">
							PI Web API Link
							<md-icon aria-label="help" class="material-icons">help_outline</md-icon>
							<md-tooltip md-direction="botom">
								Click here if having problems getting data the first time.
							</md-tooltip>
						</md-button>
					</div>
					<md-divider></md-divider>
					<md-subheader>
						Developed and supported by
						<a href="mailto:maxwell.C.Struever@shell.com">Maxwell.C.Struever@shell.com</a>
					</md-subheader>
				</md-list>
			</md-content>
		</md-sidenav>
	</div>
	<script src="./scripts/vendor/jquery.min.js"></script>
	<script src="./scripts/vendor/bootstrap.min.js"></script>
	<!-- <script src="./scripts/angular.min.js"></script> -->
	<script src="./scripts/vendor/angularjs/1.6.4/angular.min.js"></script>
	<!-- <script src="./scripts/angular-resource.min.js"></script>
	<script src="./scripts/angular-route.min.js"></script> -->
	<script src="./scripts/vendor/angularjs/1.6.4/angular-resource.min.js"></script>
	<script src="./scripts/vendor/angularjs/1.6.4/angular-route.min.js"></script>
	<script src="./scripts/vendor/angularjs/1.6.4/angular-animate.min.js"></script>
	<script src="./scripts/vendor/angularjs/1.6.4/angular-aria.min.js"></script>
	<script src="./scripts/vendor/angularjs/1.6.4/angular-messages.min.js"></script>
	<script src="./scripts/vendor/angular_material/1.1.4/angular-material.min.js"></script>
	<script src="./scripts/vendor/nglocalstorage.js"></script>
	<script src="./scripts/vendor/angular-timeago.min.js"></script>
	<script src="./scripts/app.js"></script>

	<!-- 	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.4.0/less.min.js" type="text/javascript"></script> -->
</body>

</html>