[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.md-toast-animating { overflow: auto !important; }
md-tooltip.tt-multiline{
  height: auto;
}
/* Keep toast at bottom
https://github.com/angular/material/issues/1106
*/
md-toast {
  position: fixed !important;
}
table.event-tag-periods{
  width:100%;
  border-collapse: collapse;
}
table.event-tag-periods td{
  text-align: center;
  padding: 4px;
  border: 1px solid #000;
}
.md-error-copy
{
  color: rgb(221,44,0);
  font-size: 12px;
  line-height: 14px;
  transition: all .3s cubic-bezier(.55,0,.55,.2);
}
.float-right{
  float:right;
}
.date-error-message
{
  margin:-36px 0 0 0;
}
/* md-radio-group.ng-invalid.ng-submitted, md-radio-group.ng-invalid.ng-dirty, md-radio-group.ng-invalid.ng-touched{
  color: rgb(221,44,0);
}
md-radio-group.ng-invalid.ng-submitted md-radio-button .md-off, md-radio-group.ng-invalid.ng-dirty md-radio-button .md-off
{
  border-color: rgba(221,44,0,0.54);
} */
